.player {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 265px;
  left: 365px;
  border-radius: 35px;
  border: 1px dashed #777;
}

.player-dot {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  position: absolute;
  top: 25px;
  left: 25px;
  background: white;
}