@import "helpers.less";

.center-flex() {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.bottom-flex() {
	display:flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.noselect() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

body,
html {
}

html,
body,
div,
{
  margin:0;
  padding:0;
  font-family: 'Lato', sans-serif;
}

.intro-wrapper, .game-wrapper {
  background: #222;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	.center-flex;
}

.intro-wrapper {
	& > div {
		width: 800px;
		font-size: 2em;
		margin-bottom: 1em;
		display: inline;
	}

	& span {
		margin-right: 0.3em;
		opacity: 0;
		color: #CCC;
		animation-name: fade;
		animation-duration: 2s;
		animation-iteration-count: 1;
		animation-timing-function: ease-in;
		animation-fill-mode: forwards;
	}

	& button {
		background: none;
		border: none;
		color: white;
		font-size: 2em;
		cursor: pointer;
		padding: 0.4em 0.8em;
		border: 1px solid #222;

		&:hover {
			border: 1px solid #666;
			background: #333;
		}
	}

	a.helper-link {
		font-size: 1.1em;
		position: fixed;
		bottom: 5px;
		right: 5px;
		color: #555 !important;
		text-decoration: none;
	}

}

a.helper-link {
	font-size: 1.1em;
	position: fixed;
	bottom: 5px;
	right: 5px;
	color: #111 !important;
	text-decoration: none;
}

.help-wrapper {
	position: fixed;
	width: 90%;
	height: 90%;
	top: 2%;
	left: 2%;
	background: white;
	padding: 3%;

	& a.nope:hover {
		color: white;
		text-decoration: none;
	}

	& p {
		font-family: 'VT323', monospace;
		font-size: 1.3em;
	}
}

.game-wrapper {
	.game-area {
		background: #8C979B;
		display: flex;
		flex-flow: column wrap;
		width: 800px;
		height: 610px;
		color: white;
	}
}

.control-group {
	width: 400px;
	height: 150px;
	display: flex;
	flex-flow: row no-wrap;
	.noselect();
}

.terminal {
	width: 400px;
	height: 300px;
	background: url(../images/terminal.png) top left no-repeat;
	background-position: -400px 0;

	& div {
		width: 370px;
		height: 270px;
		position:relative;
		top: 12px;
		left: 12px;
		overflow: hidden;
		.noselect;
	}

	& p {
		.noselect;
		margin: 0;
		padding: 0;
		font-family: 'VT323';
		color: #CCC;
	}
}

.terminal.on {
	background-position: 0 0;
}

.toggle-switch, 
.rotary-switch, 
.led-display, 
.led-bar-graph,
.spacer {
	width: 90px;
	height: 150px;
	color: #191f22;
	font-family: 'VT323', monospace;
	font-size: 1.1em;
	.bottom-flex;
	.noselect;
}

.toggle-switch {
	background: url(../images/toggle_switch.png) top left no-repeat;
}

.toggle-switch.on {
	background-position: -90px 0;
}

.vertical-label { 
	width: 30px;
	background: url(../images/vertical_labels.png) top left no-repeat;
}

.led-display {
	background: url(../images/led_display.png) top left no-repeat;
}

.led-display.on {
	background-position: -90px 0;
}

.led-bar-graph {
	width: 59px;
	background: url(../images/led_bar_graph.png) top left no-repeat;
}

.rotary-switch {
	background: url(../images/rotary_switch.png) top left no-repeat;

	& > .system-rotary-label {
		background: #191f22;
		color: #B22F2F;
		text-align: center;
		width: 80px;
		height: 20px;
	}
}
