.player-keys {
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 1em;
  background: white;
  padding: 0.3em 1em;
}

.player-key-swatch {
  display: inline;
  padding: 3px 10px;
  color: white;
  border-radius: 4px;
  border: 1px solid #333;
  margin-right: 10px;

  .legend {
    font-weight: bolder;
    display: inline;
    margin-right: 10px;
  }
}

.key-0 {
  background: #333333;
}

.key-1 {
  background: #26664D;
}

.key-2 {
  background: #AD8937;
}

.key-3 {
  background: #AA2222;
}